/* Custom Stylesheet */
/**
 * Use this file to override Materialize files so you can update
 * the core Materialize files in the future
 *
 * Made By MaterializeCSS.com
 */

 div,section,article {
    /*border:solid black;*/
 }

body header {
    margin-top:    3em !important;
    margin-bottom: 15em !important;
}

.brand-logo {
}

article .row {
    /*padding-left:  7px;*/
    /*padding-right: 7px;*/
    border:solid white 7px;
    padding-left:7px;
    padding-right:7px;
    /*margin:5px;*/
}

article section {
    /*margin: 7px;*/
    /*padding: 2px; */
    background: #eee;
}

ol {
}

ol li {
    /*list-style-type: decimal;*/
    list-style-type: disc;
    margin: 0px;
}

.list-no-dot li {
    list-style-type: none;
}

#ga-box {
    background-color:rgb(19, 48, 108);
}

#istorage-box {
    background-color:rgb(213, 31, 39);
}

#crowdclock-box {
    /*max-width: 100%;*/
    background-image:url("http://www.crowdclock.com/img/bg.png");
}

#fanbox-box {
    background-color:rgb(246, 246, 246);
}

#fanbox-img {
    background:url("http://files.fbstatic.com/images/Sisu/sprite.png") 0 0;
    width:154px;
    height:36px;    
}

#datagenix-box {
    background-color:rgb(255, 255, 255);
}

#cert-box {
    background-color:rgb(255, 255, 255);
}

#irf-box {
    background-color:rgb(0, 0, 0);
}

.logo-box {
    height:       48px;
    margin-left:  -7px;
    margin-right: -7px;
    box-shadow:   2px 5px 5px gray;
}

.logo-box img {
    max-height: 48px;
}

.collection {
    border:none;
}

#resume-formats {
    font-size:130%;
}

#resume-formats li:first-of-type {
    font-size:150%;
}

img {
    max-width: 100%;
}   

.collapse-hint {
    font-size:90%;
    color:rgb(150, 150, 150);
    float:right;
}

.fade:hover {
    -webkit-filter: grayscale(0%) blur(0px);
}

.fade {
    -webkit-filter: grayscale(80%) blur(0.75px);
}

/*<img src="http://files.fbstatic.com/images/Sisu/sprite.png"  width="50" height="50" alt="CrowdClock.com" height="100%">*/